[Unit]
Description=Ssh Auto Ban
After=network.target iptables.service sshd.service

[Service]
Type=simple
WorkingDirectory=/root/Ssh_Auto_Ban/
ExecStart=/usr/bin/python3 /root/Ssh_Auto_Ban/script.py

[Install]
WantedBy=multi-user.target
